
{% extends 'base.html' %}

{% block content %}

    <div class="container main-container">
        <div id="fb-root">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="div-article editable-font" id = "div-article" data-font = "18">
                        <article>
                            <header class = "article-header">
                                        <h1 class = "article-title editable-font " data-font = "30">Dars jadvali</h1>
                            </header>
                            <div class = "article-text" id = "article-text">
                            <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
                                <html encoding="utf-8">
                                <html>






<p>*****</p>
<!--<div class="ant-select w-100 ant-select-single ant-select-show-arrow ant-select-show-search">-->
<!--  <span class="ant-select-selection-search">-->
<!--    <select id="firstSelect" onchange="showSecondOptions(this)" aria-label="Default select example">-->
<!--      <option value="1">Tanlov 1</option>-->
<!--      <option value="2">Tanlov 2</option>-->
<!--      <option value="3">Tanlov 3</option>-->
<!--    </select>-->
<!--  </span>-->
<!--  <span class="ant-select-selection-search">-->
<!--    <select id="secondSelect">-->
<!--      <option value="4">Tanlov 4</option>-->
<!--      <option value="5">Tanlov 5</option>-->
<!--      <option value="6">Tanlov 6</option>-->
<!--    </select>-->
<!--  </span>-->
<!--</div>-->




<!--<script>-->
<!--function showSecondOptions(select) {-->
<!--  var selectedIndex = select.selectedIndex;-->
<!--  document.getElementById('secondSelect').selectedIndex = selectedIndex;-->
<!--}-->
<!--</script>-->


<!--{% for x in jadval %}-->
<!--<p>id:{{ x.faculty.id }} - {{ x.group.id }}** {{ x.group.name }}** &#45;&#45;{{ x.semester.code }}&#45;&#45;{{x.lesson_date.formatted_date}}**{{ x.lesson_date.weekday}}</p>-->
<!--{% endfor %}-->
<!--<ul>-->
<!--        {% for date in unique_date %}-->
<!--            <li>{{  date.formatted_date }}&#45;&#45; {{  date.weekday }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<form action="/" method="POST">
    {% csrf_token %}
    <label for="fakul_id" style="color: #3d65fb; text-align: center;" rel="text-align: center;">Fakultetni tanlang:</label>
    <select  class="form-select" name="fakul_id" aria-label="Default select example">

        <option selected></option>
        {% for x in fakul_list %}
        <option value={{ x.id }} style="color: #3d65fb; text-align: center;" rel="text-align: center;">
            {{ x.name }}
        </option>
        {% endfor %}
        <option value="1">Fakultet 1</option>
    </select>

    <label for="name_id" style="color: #3d65fb; text-align: center;" rel="text-align: center;">Guruhni tanlang:</label>
    <select  class="form-select" name="name_id" aria-label="Default select example">
        <option selected></option>
        {% for x in group_li %}
        <option value={{x.id}} style="color: #3d65fb; text-align: center;" rel="text-align: center;">
            {{ x.name }} ({{ x.educationLang.name }})
        </option>
        {% endfor %}
        <option value="1035">Gruppa 1035</option>
    </select>

    <label for="semester_code" style="color: #3d65fb; text-align: center;" rel="text-align: center;">Semester tanlang:</label>
    <select class="form-select" name="semester_code" aria-label="Default select example">
        <option selected></option>
        {% for x in semester_list %}
        <option value={{x.code}} style="color: #3d65fb; text-align: center;" rel="text-align: center;">
            {{ x.name }}
        </option>
        {% endfor %}
        <option value="20">20</option>
    </select>
    <p><button type="submit"  class="btn btn-primary">Tasdiqlash</button></p>
</form>




{% for y in group_li %}

        <p style="color: red; text-align: center;">
            <strong>Guruh: {{ y.name }} ({{ y.educationLang.name }})</strong>
        </p>


{% for x in jadval %}
{% if  x.group.id == y.id and x.lesson_date.weekday == 'Dushanba' %}
            <p style="color: #3d65fb; text-align: center;" rel="text-align: center;"><strong>{{ x.lesson_date.weekday }}</strong> ({{x.lesson_date.formatted_date}}) </p>

        <table>
            <thead>
                <tr style="color: #3d65fb; text-align: center;">
                    <th>#</th>
                    <th scope="col">Kirish</th>
                    <th scope="col">Chiqish</th>
                    <th scope="col">Fan nomi</th>
                    <th scope="col">Xona</th>
                    <th scope="col">Fan turi</th>
                    <th scope="col">O'qituvchi</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color: #3d65fb; text-align: center;">
                    <th scope="row"><i class="fa fa-hand-o-right" aria-hidden="true"></i></th>
                    <td>{{ x.lessonPair.start_time }}</td>
                    <td>{{ x.lessonPair.end_time }}</td>
                    <td>{{ x.subject.name }}</td>
                    <td>{{ x.auditorium.name }}</td>
                    <td>{{ x.trainingType.name }}</td>
                    <td>{{ x.employee.name }}</td>
                </tr>
            </tbody>
        </table>
{% endif %}
{% endfor %}



{% for x in jadval %}
    {% if x.group.id == y.id and x.lesson_date.weekday == 'Seshanba' %}
<!--        {% if not first_lesson_date_shown %}-->
            <p style="color: #3d65fb; text-align: center;" rel="text-align: center;"><strong>{{ x.lesson_date.weekday }}</strong>({{ x.lesson_date.formatted_date }}) </p>
<!--        {% endif %}-->
        <table>
            <thead>
                <tr style="color: #3d65fb; text-align: center;">
                    <th>#</th>
                    <th scope="col">Kirish</th>
                    <th scope="col">Chiqish</th>
                    <th scope="col">Fan nomi</th>
                    <th scope="col">Xona</th>
                    <th scope="col">Fan turi</th>
                    <th scope="col">O'qituvchi</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color: #3d65fb; text-align: center;">
                    <th scope="row"><i class="fa fa-hand-o-right" aria-hidden="true"></i></th>
                    <td>{{ x.lessonPair.start_time }}</td>
                    <td>{{ x.lessonPair.end_time }}</td>
                    <td>{{ x.subject.name }}</td>
                    <td>{{ x.auditorium.name }}</td>
                    <td>{{ x.trainingType.name }}</td>
                    <td>{{ x.employee.name }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endfor %}

{% for x in jadval %}
   {% if x.group.id == y.id and x.lesson_date.weekday == 'Chorshanba' %}

            <p style="color: #3d65fb; text-align: center;" rel="text-align: center;"><strong>{{ x.lesson_date.weekday }}</strong> ({{ x.lesson_date.formatted_date }})</p>

        <table>
            <thead>
                <tr style="color: #3d65fb; text-align: center;">
                    <th>#</th>
                    <th scope="col">Kirish</th>
                    <th scope="col">Chiqish</th>
                    <th scope="col">Fan nomi</th>
                    <th scope="col">Xona</th>
                    <th scope="col">Fan turi</th>
                    <th scope="col">O'qituvchi</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color: #3d65fb; text-align: center;">
                    <th scope="row"><i class="fa fa-hand-o-right" aria-hidden="true"></i></th>
                    <td>{{ x.lessonPair.start_time }}</td>
                    <td>{{ x.lessonPair.end_time }}</td>
                    <td>{{ x.subject.name }}</td>
                    <td>{{ x.auditorium.name }}</td>
                    <td>{{ x.trainingType.name }}</td>
                    <td>{{ x.employee.name }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}

{% for x in jadval %}
    {% if x.group.id == y.id and x.lesson_date.weekday == 'Payshanba' %}

            <p style="color: #3d65fb; text-align: center;" rel="text-align: center;"><strong>{{ x.lesson_date.weekday }}</strong>({{ x.lesson_date.formatted_date }})</p>

        <table>
            <thead>
                <tr style="color: #3d65fb; text-align: center;">
                    <th>#</th>
                    <th scope="col">Kirish</th>
                    <th scope="col">Chiqish</th>
                    <th scope="col">Fan nomi</th>
                    <th scope="col">Xona</th>
                    <th scope="col">Fan turi</th>
                    <th scope="col">O'qituvchi</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color: #3d65fb; text-align: center;">
                    <th scope="row"><i class="fa fa-hand-o-right" aria-hidden="true"></i></th>
                    <td>{{ x.lessonPair.start_time }}</td>
                    <td>{{ x.lessonPair.end_time }}</td>
                    <td>{{ x.trainingType.name }}: {{ x.subject.name }}</td>
                    <td>{{ x.auditorium.name }}</td>
                    <td>{{ x.trainingType.name }}</td>
                    <td>{{ x.employee.name }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}

{% for x in jadval %}
    {% if x.group.id == y.id and x.lesson_date.weekday == 'Juma' %}

            <p style="color: #3d65fb; text-align: center;" rel="text-align: center;"><strong>{{ x.lesson_date.weekday }}</strong>({{ x.lesson_date.formatted_date }})</p>

        <table>
            <thead>
                <tr style="color: #3d65fb; text-align: center;">
                    <th>#</th>
                    <th scope="col">Kirish</th>
                    <th scope="col">Chiqish</th>
                    <th scope="col">Fan nomi</th>
                    <th scope="col">Xona</th>
                    <th scope="col">Fan turi</th>
                    <th scope="col">O'qituvchi</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color: #3d65fb; text-align: center;">
                    <th scope="row"><i class="fa fa-hand-o-right" aria-hidden="true"></i></th>
                    <td>{{ x.lessonPair.start_time }}</td>
                    <td>{{ x.lessonPair.end_time }}</td>
                    <td>{{ x.subject.name }}</td>
                    <td>{{ x.auditorium.name }}</td>
                    <td>{{ x.trainingType.name }}</td>
                    <td>{{ x.employee.name }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}

{% for x in jadval %}
    {% if x.group.id == y.id and x.lesson_date.weekday == 'Shanba' %}

            <p style="color: #3d65fb; text-align: center;" rel="text-align: center;"><strong>{{ x.lesson_date.weekday }}</strong>({{ x.lesson_date.formatted_date }})</p>

        <table>
            <thead>
                <tr style="color: #3d65fb; text-align: center;">
                    <th>#</th>
                    <th scope="col">Kirish</th>
                    <th scope="col">Chiqish</th>
                    <th scope="col">Fan nomi</th>
                    <th scope="col">Xona</th>
                    <th scope="col">Fan turi</th>
                    <th scope="col">O'qituvchi</th>
                </tr>
            </thead>
            <tbody>
                <tr style="color: #3d65fb; text-align: center;">
                    <th scope="row"><i class="fa fa-hand-o-right" aria-hidden="true"></i></th>
                    <td>{{ x.lessonPair.start_time }}</td>
                    <td>{{ x.lessonPair.end_time }}</td>
                    <td>{{ x.subject.name }}</td>
                    <td>{{ x.auditorium.name }}</td>
                    <td>{{ x.trainingType.name }}</td>
                    <td>{{ x.employee.name }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}


{% endfor %}

</body>
</html>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="div-article-sidebar" id = "article-sidebar">
                    <div class = "inner-sidebar">
                    <h4 class="article-sidebar-title">Fakultetlar</h4>
                            {% for y in faculty %}
                            <a href = "/uz/pages/instruction" class = "article-sidebar-item main-sidebar-item "><i class="fas fa-angle-double-right"></i> {{ y }}</a>
                            {% endfor %}
                    </div>
                    <div class = "inner-sidebar">
                            <h4 class="article-sidebar-title">Kafedralar</h4>
                        {% for kafedra in kafedra_list %}
                            <a class="article-sidebar-news-item " href="/uz/news/2566211"><span class="article-sidebar-news-item-date"><i class="fa fa-university" aria-hidden="true"></i> </span><br>{{ kafedra }}</a>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
            </div>
    </div>

{% endblock content %}